/employees script.py
/employees.csv
/Maghrib.py
/PG2 employee_db.py
/python app.py
/Sistem Inventori.py
/streamlit.py
/test1.6.py
/test1.py
/test2.py
/test3.py
/test4.py
/test5.py
/__pycache__
Sistem Inventori.py
__pycache__/
*.pyc